body{
    width:640px;
    background-color: #1f87e4;
}
.wrapper{
    position: relative;
    width:100%;
    height:628px;
    background: url(../images/shuffle-bg.png) no-repeat;
    background-size: cover;
}
.wrapper .label{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 10;
    margin:-67px 0 0 -57px;
    width:114px;
    height:115px;
    background:url(../images/label.png) no-repeat;
    /*cursor: pointer;*/
}
.wrapper .pointer{
    position: absolute;
    left:50%;
    top:50%;
    margin:-140px 0 0 -25px;
    width:49px;
    height:224px;
    background: url(../images/pointer.png) no-repeat;
    -webkit-transform:rotate(0deg);
    -webkit-transform-origin: 25px 132px;
    /*animation: shuffle 2s linear infinite;*/
}
.wrapper .pointer.animate{
    -webkit-transition: -webkit-transform 3s cubic-bezier(.23,.48,.45,.84);
}

@-webkit-keyframes shuffle {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}